<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lekka</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/vue@next"></script>

    <style>
        body {
            margin: 0px;
        }

        .accent {
            background-color: crimson;
            color: white;
        }

        .blbl {
            display: block;
            font-style: italic;
            font-size: 0.9em;
            color: gray;
        }

        .lbl {
            font-style: italic;
            font-size: 0.9em;
            color: gray;
        }

        .fill {
            flex-grow: 1;
        }

        .hflow {
            display: flex;
        }

        .right {
            justify-content: right;
        }

        .vflow {
            display: flex;
            flex-direction: column;
        }

        .top {
            vertical-align: top;
        }

        #app {
            margin: auto;
            max-width: 500px;
        }

        .title-bar {
            display: block;
            background-color: crimson;
            color: white;
            padding: 5px 5px;
        }

        .title {
            font-size: 1.2em;
            font-weight: bolder;
        }

        .back-btn {
            margin-right: 10px;
        }

        .topbtns {
            float: right;
            display: block;
            font-weight: bolder;
            padding: 5px 5px;
            cursor: pointer;
        }

        .kooli-list-item {
            display: flex;
            border-bottom: solid 1px lightgrey;
            padding: 20px;
            width: 100%;
            width: -moz-available;          /* For Mozzila */
            width: -webkit-fill-available;  /* For Chrome */
            width: stretch;                 /* Unprefixed */
        }

        .kooli-stat {
            margin: 0px 5px 0px 0px;
        }

        .kooli-stat-num {
            font-weight: bolder;
            margin-left: 5px;
        }

        .edit-kooli {
            margin: 20px;
        }

        .edit-kooli-name {
            font-size: 2em;
            border: none;
            outline: none;
            margin-left: 5px;
            border-bottom: solid 1px crimson;
            width: 100%;
            width: -moz-available;
            /* For Mozzila */
            width: -webkit-fill-available;
            /* For Chrome */
            width: stretch;
            /* Unprefixed */
        }

        .edit-field {
            margin: 30px 10px;
        }

        .btn {
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 5px;
            margin: 20px 0px;
            outline: none;
            border: none;
            margin: 10px;
        }

        .btn:hover {
            opacity: 0.5;
        }

        .green {
            background-color: darkgreen;
            color: white;
        }

        .kooli-details {
            padding: 5px;
        }

        .kooli-detail {
            margin: 10px;
        }

        .fg {
            flex-grow: 1;
        }

        .m0 {
            margin: 0px;
        }

        .ilb {
            display: inline-block;
        }

        .kooli-calender-cell {
            min-height: 50px;
        }

        .tbtn {
            margin-left: 10px;
        }
    </style>

    <!-- kooli list -->
    <script type="text/x-template" id="kooli-list">
        <div class="kooli-list">
            <kooli-list-item v-for="labour in labours" :labour="labour" :route="route"></kooli-list-item>
        </div>
    </script>

    <!-- kooli list item -->
    <script type="text/x-template" id="kooli-list-item">
        <div class="kooli-list-item hflow" @click="route('kooli-detail', labour)">
            <div class="vflow fill">
                <div class="fill">
                    <h2 class="kooli-name m0">{{labour.name}}</h2>
                </div>
                <div>
                    <div v-if="labour.ldates.length > 0">
                        <span class="blbl">{{i('start')}}</span>
                        <span><i class="fas fa-calendar-alt" style="color: gray"></i>&nbsp;{{new Date(labour.ldates[0].t).toLocaleDateString()}}</span>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-content: center; flex-direction: column; padding-right: 20px; flex-grow: 1; text-align: right">
                <kooli-unit @click="toggleToday" :height="'50px'" :width="'50px'" :unit="unittoday()"></kooli-unit>
            </div>
            <div style="flex-grow: 1; text-align: right">
                <div>
                    <div>
                        <span class="blbl">{{i('total')}}</span>
                        <div>
                            <h1 v-if="labour.ldates.length > 0" class="kooli-rate m0 ilb">{{pay()}}</h1>
                            <h1 v-else="" class="kooli-rate m0 ilb">0</h1>
                            <span class="top" style="margin-top: 3px">₹</span>
                        </div>
                    </div>
                    <div class="hflow" style="justify-content: flex-end;">
                        <div class="kooli-stat">
                            <span class="blbl">{{i('full')}}</span>
                            <h3 class="m0 kooli-stat-num">{{full()}}</h3>
                        </div>
                        <div class="kooli-stat">
                            <span class="blbl">{{i('half')}}</span>
                            <h3 class="m0 kooli-stat-num">{{half()}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- edit kooli -->
    <script type="text/x-template" id="edit-kooli">
        <div class="edit-kooli">
            <div class="edit-field">
                <span class="blbl">{{i('name')}}</span>
                <input ref="name" class="edit-kooli-name" />
            </div>
            <div class="edit-field">
                <span class="blbl">{{i('rate')}}</span>
                <input ref="salary" class="edit-kooli-name" type="number" />
            </div>
            <div class="edit-field" style="margin: auto; width: max-content">
                <button class="btn red" @click="route('kooli-list')">{{i('cancel')}}</button>
                <button class="btn accent" @click="save">{{i('save')}}</button>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="kooli-unit">
        <div>
            <i v-if="unit==0" style="font-size: 36px; color: #eee" class="fas fa-check"></i>
            <i v-if="unit==1" style="font-size: 36px; color: darkgreen" class="fas fa-check"></i>
            <i v-if="unit==2" style="font-size: 36px; color: darkgreen" class="fas fa-check-double"></i>
        
            <!-- <svg v-if="unit==0" :width="width" :height="height" viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="45" fill="#ddd"/>
            </svg>
            <svg v-if="unit==1" :width="width" :height="height" viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="45" fill="transparent"/>
                <path d="M50,5 A45,45 0 0,0 50,95" fill="orange" />
            </svg>
            <svg v-if="unit==2" :width="width" :height="height" viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="45" fill="orange"/>
            </svg> -->
        </div>
    </script>

    <script type="text/x-template" id="kooli-detail">
        <div class="kooli-details">
            <div class="kooli-detail" style="display: flex; align-items:center">
                <h1 class="kooli-name m0" style="display: inline; flex-grow: 1">{{vdata.name}}</h1>
                <i @click="deleteLabourer" class="fas fa-trash"></i>
            </div>
            <div class="kooli-detail" style="display: flex; margin: 30px 15px">

                <div style="display: inline-block; flex-grow: 1; display: flex; flex-direction: column; justify-content: center">
                    <div style="text-align: center; display: flex; flex-direction: column; width: max-content">
                        <h1 class="kooli-rate sx35 m0">₹ {{pay()}}</h1>
                        <span>
                            <span class="lbl">(₹</span>&nbsp;
                            <b>{{vdata.rate}}</b>&nbsp;
                            <span class="lbl"> {{i('/ half day')}})</span>
                        </span>
                    </div>
                </div>

                <div v-if="vdata.ldates.length > 0" style="display: flex; flex-direction: column; align-items: center; justify-content: center; flex-grow:1">
                    <div style="text-align: center">
                        <i class="blbl">{{i('start')}}</i>
                        <i class="fas fa-calendar-alt"></i>
                        <b>&nbsp;{{(new Date(vdata.ldates[0].t).toDateString())}}</b>
                    </div>
                    <div style="display: flex; justify-content: space-evenly">
                        <div class="kooli-stat" style="text-align: center">
                            <span class="blbl">{{i('present')}}</span>
                            <h3 class="m0">{{present()}}</h3>
                        </div>
                        <div class="kooli-stat" style="text-align: center">
                            <span class="blbl">{{i('absent')}}</span>
                            <h3 class="m0">{{absent()}}</h3>
                        </div>
                    </div>
                </div>

                <div style="display: inline-block; display: flex; flex-direction: column">
                    <div style="text-align: center">
                        <h1 class="kooli-rate m0 ilb">{{present()}}</h1>
                        <i class="blb">{{i('days')}}</i>
                    </div>
                    <div style="display: flex; justify-content: space-evenly">
                        <div class="kooli-stat" style="margin-right: 20px; text-align: center">
                            <span class="blbl">{{i('half')}}</span>
                            <h3 class="m0">{{half()}}</h3>
                        </div>
                        <div class="kooli-stat" style="text-align: center">
                            <span class="blbl">{{i('full')}}</span>
                            <h3 class="m0">{{full()}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin: 60px 10px">
                <kooli-calender :dateset="[vdata.ldates]"></kooli-calender>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="kooli-calender">
        <div>
            <div style="display: flex; ">
                <i @click="monthprev" style="color: grey" class="fas fa-chevron-left"></i>
                <h4 class="m0 ilb fg" style="text-align: center">{{month}} {{year}} </h4>
                <i @click="monthnext" style="color: grey" class="fas fa-chevron-right"></i>
            </div>
            <table style="table-layout: fixed; width: 100%; border-collapse: collapse; margin: 10px 0px">
                <tr v-for="(wday, idx) in wdays">
                    <th style="text-align: center; opacity: 0.6" class="accent">
                        <span style="font-size: 0.8em">{{wdaynames()[idx]}}</span>
                    </th>
                    <td v-for="day in wday" style="border-collapse: collapse; padding: 0px">
                        <div class="kooli-calender-cell" @click="toggleThisDay(day)" style="display: flex; justify-content: center; align-items: center; position:relative;"
                             :style="{'border': (day.today ? 'solid 1px skyblue' : 'solid 1px #eaeaea'), 'background-color': (day.today ? 'aliceblue': (day.thisMonth ? 'transparent' : '#f5f5f5'))}">
                             <span style="position: absolute; top: 5px; left: 5px">{{day.date.getDate()}}</span>
                             <kooli-unit :height="'30px'" :width="'30px'" :unit="day.unit"></kooli-unit>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </script>

    <script type="text/x-template" id="settings-page">
        <div style="padding: 30px; display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; height: 100%; overflow: auto">
            <div>{{msg}}</div>
            <label>{{i('language')}}</label>
            <select @change="langchange" :value="lang">
                <option v-for="lang in langs">{{lang}}</option>
            </select>
        </div>
    </script>
</head>

<body>
    <div id="app">
        <div class="title-bar">
            <i v-if="currentComponent != 'kooli-list'" @click="route('kooli-list')" class="fa fa-arrow-left back-btn" aria-hidden="true"></i>
            <span class="title">{{i('title')}}</span>
            <div class="topbtns">
                <span v-if="currentComponent == 'kooli-list'" class="tbtn" @click="route('edit-kooli')">
                    <i class="fas fa-user-plus"></i>
                </span>
                <span v-if="currentComponent == 'kooli-list'" @click="route('settings-page')" class="tbtn">
                    <i class="fas fa-cog"></i>
                </span>
            </div>
        </div>
        <component :is="currentComponent" :route="route" :vdata="vdata"></component>
    </div>
</body>

<script>
    let data = JSON.parse(localStorage.getItem('data')) || {
        labours: [
            {
                name: "x",
                ldates: [
                    { t: 1622917800000, unit: 1 },
                    { t: 1623004200000, unit: 1 },
                    { t: 1623090600000, unit: 2 },
                    { t: 1623263400000, unit: 1 }
                ],
                rate: 250
            },
            {
                name: "y",
                ldates: [
                    { t: 1622917800000, unit: 1 },
                    { t: 1623090600000, unit: 2 },
                    { t: 1623263400000, unit: 1 }
                ],
                rate: 250
            }
        ]
    }

    let settings = JSON.parse(localStorage.getItem('settings')) || {
        lang: 'kannada',
        accentColor: 'crimson'
    }

    let lbls = {
        'ಕನ್ನಡ​': {
            'title': 'ಲೆಕ್ಕ-ಪತ್ರ',
            'total': 'ಒಟ್ಟು',
            'absent': 'ಖಾಡಿ',
            'present': 'ಬಂದಿದ್ದು',
            'start': 'ಶುರು ತಾರಿಖು',
            'full': 'ಪೂರ್ತಿ',
            'half': 'ಅರ್ಧ',
            'months': ['ಜನೆವರಿ', 'ಫೆಬ್ರುವರಿ', 'ಮಾರ್ಚ್', 'ಎಪ್ರಿಲ್', 'ಮೇ', 'ಜೂನ್', 'ಜುಲೈ', 'ಅಗಸ್ಟ್', 'ಸೆಪ್ಟೆಂಬರ್', 'ಅಕ್ಟೊಬರ್', 'ನವೆಂಬರ್', 'ಡಿಸೆಂಬರ್'],
            'wdays': ['ರವಿ', 'ಸೋಮ', 'ಮಂಗಳ​', 'ಬುಧ​', 'ಗುರು', 'ಶುಕ್ರ​', 'ಶನಿ'],
            'days': 'ದಿನ​',
            '/ half day': 'ಅರ್ಧ ದಿನಕ್ಕೆ',
            'name': 'ಹೆಸರು',
            'rate': 'ಅರ್ಧ ದಿನದ ಕೂಲಿ',
            'save': 'ಉಳಿಸಿ',
            'cancel': 'ರದ್ದುಮಾಡಿ',
            'language': 'ಭಾಷೆ',
            'Language has been changed': 'ಭಾಷೆ ಬದಲಿಸಲಾಗಿದೆ'
        },
        'English': {
            'title': 'pay-chart',
            'total': 'Total',
            'absent': 'Absent',
            'present': 'Present',
            'start': 'Start date',
            'full': 'Full',
            'half': 'Half',
            'months': ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            'wdays': ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            'save': 'Save',
            'cancel': 'Cancel',
            'rate': 'Labour for half day work',
            'name': 'Name',
            'language': 'Language'
        }
    }

    function i(x) {
        return settings.lang in lbls ? lbls[settings.lang][x] : lbls['English'][x];
    }

    const app = Vue.createApp({
        name: 'Lekka',
        data() {
            return { currentComponent: 'kooli-list', vdata: data }
        },
        methods: {
            route(to, data) {
                this.currentComponent = to;
                this.vdata = data;
            },
            i(x) {
                return i(x)
            }
        }
    })

    app.component('kooli-list', {
        name: 'kooli-list',
        template: '#kooli-list',
        props: ['route'],
        data() {
            return data;
        }
    })

    app.component('kooli-list-item', {
        name: 'kooli-list-item',
        template: '#kooli-list-item',
        props: ['labour', 'route'],
        methods: {
            pay() {
                return _pay(this.labour)
            },
            present() {
                return _present(this.labour)
            },
            absent() {
                return _absent(this.labour)
            },
            total() {
                return _total(this.labour)
            },
            full() {
                return _full(this.labour)
            },
            half() {
                return _half(this.labour)
            },
            unittoday() {
                let d = this.labour.ldates;
                return (d.length > 0 && d[d.length - 1].t == today()) ? d[d.length - 1].unit : 0;
            },
            toggleToday(e) {
                let d = this.labour.ldates;
                if (d.length == 0 || d[d.length - 1].t != today()) {
                    d.push(new_ldate(today(), 1))
                } else {
                    let dd = d[d.length - 1];
                    let unit = (dd.unit + 1) % 3
                    if (unit == 0) d.pop()
                    else dd.unit = unit
                }
                _save();
                e.stopPropagation();
            },
            i: i
        }
    })

    app.component('edit-kooli', {
        name: 'edit-kooli',
        template: '#edit-kooli',
        props: ['labour', 'route'],
        methods: {
            save() {
                data.labours.push({
                    name: this.$refs.name.value,
                    rate: this.$refs.salary.value,
                    ldates: []
                })
                _save()
                this.route('kooli-list')
            },
            i(x) {
                return i(x)
            }
        }
    })

    app.component('kooli-detail', {
        template: '#kooli-detail',
        props: ['vdata', 'route'],
        methods: {
            present() {
                return _present(this.vdata)
            },
            absent() {
                return _absent(this.vdata)
            },
            pay() {
                return _pay(this.vdata)
            },
            total() {
                return _total(this.vdata)
            },
            half() {
                return _half(this.vdata);
            },
            full() {
                return _full(this.vdata);
            },
            i(x) {
                return i(x)
            },
            deleteLabourer() {
                this.route('kooli-list')
                _delete(this.vdata)
            }
        }
    })

    app.component('kooli-unit', {
        name: 'kooli-unit',
        template: '#kooli-unit',
        props: ['unit', 'height', 'width']
    })

    app.component('kooli-calender', {
        name: 'kooli-calender',
        template: '#kooli-calender',
        props: ['dateset'],
        data() {
            return { today: new Date(), monthoff: 0 }
        },
        methods: {
            monthprev() {
                this.monthoff--;
            },
            monthnext() {
                this.monthoff++;
            },
            toggleThisDay(day) {
                if (+day.date > +new Date()) {
                    return;
                }
                day.unit = ((day.unit || 0) + 1) % 3
                if (day.unit == 0) {
                    delete day['unit']
                    day.dset.splice(day.dset.findIndex(x => x.t == day.date.getTime()), 1)
                } else {
                    let filt = day.dset.filter(x => x.t == day.date.getTime())
                    if (filt.length == 0) day.dset.push(new_ldate(day.date, day.unit))
                    else filt[0].unit = day.unit
                    day.dset.sort((a, b) => a.t - b.t)
                }
                _save()
            },
            wdaynames() {
                return i('wdays')//[+x]
            }
        },
        computed: {
            month() {
                let d = new Date(new Date(this.today).setMonth(this.monthoff + this.today.getMonth())).getMonth();
                return i('months')[d];
            },
            year() {
                return new Date(new Date(this.today).setMonth(this.monthoff + this.today.getMonth())).getFullYear();
            },
            wdays() {
                let today = new Date(this.today)
                today.setMonth(this.monthoff + today.getMonth())
                let cutc = +today
                let offset = new Date(today.setDate(1)).getDay() - 1;

                let ret = [1, 2, 3, 4, 5, 6, 7].map(x => [])
                let _i = i;
                for (let i = 0; i < 7; i++) {
                    for (let j = 0; j < 5; j++) {
                        let d = new Date(new Date((new Date(cutc)).setDate(j * 7 + i - offset)).setHours(0, 0, 0, 0))
                        ret[i][j] = {
                            date: d,
                            today: ((new Date(this.today)).getDate() == d.getDate() && (new Date(this.today)).getMonth() == d.getMonth()),
                            thisMonth: (d.getMonth() == (new Date(this.today)).getMonth(0))
                        }
                    }
                }

                for (let i = 0; i < ret.length; i++) {
                    for (let j = 0; j < ret[i].length; j++) {
                        for (let k = 0; k < this.dateset.length; k++) {
                            let ds = this.dateset[k]
                            ret[i][j].dset = ds
                            for (let di = 0; di < ds.length; di++) {
                                const d = new Date(ds[di].t).setHours(0, 0, 0, 0);
                                if (d == ret[i][j].date.getTime()) {
                                    ret[i][j].unit = ds[di].unit
                                }
                            }
                        }
                    }
                }
                return ret;
            }
        }
    })

    app.component('settings-page', {
        name: 'settings-page',
        template: '#settings-page',
        data() {
            return { msg: "" }
        },
        computed: {
            langs() {
                return Object.keys(lbls)
            },
            lang() {
                return settings.lang;
            }
        },
        methods: {
            save() {
                _save()
            },
            langchange(e) {
                settings.lang = e.target.value;
                this.msg = i('Language has been changed')
                _savesettings()
            },
            i(x) {
                return i(x)
            }
        }
    })

    function _save() {
        localStorage.setItem('data', JSON.stringify(data))
    }

    function _savesettings() {
        localStorage.setItem('settings', JSON.stringify(settings))
    }

    function _delete(x) {
        data.labours.splice(data.labours.findIndex(a => a.name == x.name), 1)
        _save()
    }

    function _present(vdata) {
        return vdata.ldates.length;
    }

    function _absent(vdata) {
        return _total(vdata) - vdata.ldates.length;
    }

    function _pay(labour) {
        return labour.ldates.map(t => (t.unit || 1) * labour.rate).reduce((t, l) => t + l, 0);
    }

    function _total(vdata) {
        if (vdata.ldates.length < 1)
            return 0;
        const date1 = new Date(vdata.ldates[0].t);
        const date2 = new Date();
        const diffTime = Math.abs(date2 - date1);
        return Math.ceil(diffTime / (1000 * 60 * 60 * 24));
    }

    function today() {
        return +new Date(new Date().setHours(0, 0, 0, 0))
    }

    function _full(vdata) {
        return vdata.ldates.map(t => t.unit).filter(x => x == 2).reduce((t, c) => t + 1, 0)
    }

    function _half(vdata) {
        return vdata.ldates.map(t => t.unit).filter(x => x == 1).reduce((t, c) => t + 1, 0)
    }

    function new_ldate(d, unit) {
        return { t: +d, unit }
    }

    app.mount("#app")
</script>

</html>